/* 从模块内导入CSS文件 ～ */
@import "~normalize.css";
@import "~antd/dist/antd.css";

/* reset CSS  */
body, html, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, header, menu, section, o, input, td, th, ins {
  padding: 0;
  margin: 0;
}

ul, ol, li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #666;
}
a:hover {
  text-decoration: underline;
}

i, em {
  font-style: normal;
}

input, textarea, button, select, a {
  outline: none;
  border: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  border: none;
  vertical-align: middle;
}

/* Common CSS for entire project */
body, textarea, input, select, button {
  font-size: 12px;
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f5f5f5;
}

.text-nowrap {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* CSS of container */
.wrap-1100 {
  width: 1100px;
  margin: 0 auto;
}

.wrap-980 {
  width: 980px;
  margin: 0 auto;
}

/* Sprite icons */
.sprite_01 {
  background: url(../img/sprite-01.png) no-repeat;
}

.sprite_02 {
  background: url(../img/sprite-02.png) no-repeat;
}

.sprite_cover {
  background: url(../img/sprite-cover.png) no-repeat;
}

.sprite_icon {
  background: url(../img/sprite-icon.png) no-repeat;
}

.sprite_icon2 {
  background: url(../img/sprite-icon2.png) no-repeat;
}

.sprite_button {
  background: url(../img/sprite-button.png) no-repeat;
}

.sprite_button2 {
  background: url(../img/sprite-button2.png) no-repeat;
}

.sprite_table {
  background: url(../img/sprite-table.png) no-repeat;
}

.sprite_footer_logo {
  background: url(../img/foot_enter_new.png) no-repeat;
  background-size: 110px 552px;
}

.sprite_footer_info {
  background: url(../img/foot_enter_tt.png) no-repeat;
  background-size: 180px 139px;
}

.sprite_others {
  background: url(../img/sprite_others.png) no-repeat;
}

.white_r_icon {
  background: url(../img/white-r-icon@3x.png) no-repeat;
}

.image_cover {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  text-indent: -9999px;
  background: url(../img/sprite-cover.png) no-repeat -145px -57px;
}

.sprite_player {
  background: url(../img/playbar-sprite.png) no-repeat;
}

 .h3_title {
    display: flex;
    justify-content: space-between;
    height: 23px;
    border-bottom: 1px solid rgb(204, 204, 204);
    color: rgb(51, 51, 51);
    font-size: 12px;
  }

.lyric-class .ant-message-notice-content {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 50px;
  background-color: rgba(0, 0, 0, .5);
  color: #fff;
}